/* Estilos para toda la pagína */
*{
   box-sizing:border-box; 
}

/* Estilos para el cuerpo de la pagína */
body{
    margin: 0;
    background: url(img/background-registro.jfif) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    
}

/* Estilos para el título superior de la pagina */
h1{
    color:#DFA01B;
    text-align: center;
}

/* Estilos para el panel de regístro  */
.form-register{
    width:95%;
    max-width:500px;
    margin:auto;
    margin-top:60px;
    background: white;
    border-radius: 7px;
}

/* Estilos para el titulo interno de el panel de regístro */
.form__titulo{
    background:#0D688F;
    color: #DFA01B;
    padding: 20px;
    text-align:center;
    font-weight:100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #DFA01B;
}

/* Estilos para el contenedor inputs */
.contenedor-inputs{
    padding: 10px 30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

/* Estilos para los inputs */
input{
    margin-bottom: 15px;
    padding:12px;
    font-size:16px;
    border-radius:3px;
    border: 1px solid darkgray;
}

/* Estilo para ajustar el input de un tamaño 48 */
.input-48{
    width: 48%;
}

/* Estilo para ajustar el input de un tamaño 40 */
.input-40{
    width: 40%;
}

/* Estilo para ajustar el input de un tamaño 40 */
.input-56{
    width: 56%;
}

/* Estilos para el boton inferior de regístros */
#btnguardar{
    background:#0D688F;
    color: #DFA01B;
    margin:auto;
    padding:10px 40px;
    border-radius: 6px;
    cursor:pointer;
    font-size:18px;
}
    /* Estilo para cuando haces click en el boton */
    #btnguardar:active{
        transform:scale(1.05);
    }

/* Estilos para el enlace inferior */
.form__link{
    width:100%;
    margin:7px;
    text-align: center;
    font-size:14px;
}
