*{
   box-sizing:border-box; 
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #204862;
}

h1{
    color:#fff;
    text-align: center;
}

.form-register{
    width:95%;
    max-width:500px;
    margin:auto;
    margin-top:100px;
    background: white;
    border-radius: 7px;
}

.form__titulo{
    background:#0D688F;
    color: #DFA01B;
    padding: 20px;
    text-align:center;
    font-weight:100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #DFA01B;
}

.contenedor-inputs{
    padding: 10px 30px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

input{
    margin-bottom: 15px;
    padding:12px;
    font-size:16px;
    border-radius:3px;
    border: 1px solid darkgray;
}

.input-48{
    width: 48%;
}

.input-40{
    width: 40%;
}

.input-56{
    width: 56%;
}

#btnguardar{
    background:blue;
    color: #fff;
    margin:auto;
    padding:10px 40px;
    cursor:pointer;
    font-size:18px;
}

#btnguardar:active{
    transform:scale(1.05);
}

.form__link{
    width:100%;
    margin:7px;
    text-align: center;
    font-size:14px;
}
