/* Estilos de la pagína */
/* El cuerpo de la pagína */
body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Barra de navegación */
.navbar-inverse{
    background: #EBA521;
    border: 2px solid #E79918;
}

.x{
   background:#0D688F;
}

.xa{
   background:#0D688F;
}

.xa:hover{
    background:red;
}

/* Barra lateral */

.sidebar{
    position: absolute;
    z-index:10;
    width: 250px;
    height: 100%;
    margin-top: -22px; 
    background: #0D688F;
    color: #0D688F;
    outline: 1px solid #2a2a2a;
}

.sidebar h2{
    text-align: center;
    margin: 0px;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{
    outline: 1px solid #2a2a2a;
    transition: border 0.5s;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #333;
}

.sidebar a{
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.sidebar a:hover{
    color: #0D688F;
}

.main-content{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:10;
    background:url(fondo-user.jpg) no-repeat center bottom;
    background-size: cover;
    padding: 30px;
    margin-top: -23px; 
   transition: all 0.5s;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 10%;
    position: absolute;
    background:#EBA521;
    bottom: 0;
    padding: 30px;
    transition: all 0.5s;
    box-sizing: border-box;
}



.menu-bar{
    cursor: pointer;
}

/* Funcinamiento de la barra lateral */

.abrir{
    transform: translateX(250px);
    
}
