/* Estilos de la pagína */
/* El cuerpo de la pagína */
body{
    margin: 0px;
    margin-bottom: 40px;
    overflow: hidden;
}

/* Barra de navegación */
.navbar-inverse{
    background: #EBA521;
    border: 2px solid #E79918;
}

.x{
   background:#0D688F;
}

.xa{
   background:#0D688F;
}

.xa:hover{
    background:red;
}

/* Barra lateral */

.sidebar{
    position: absolute;
    z-index:10;
    width: 250px;
    height: 100%;
    margin-top: -22px; 
    background: #0D688F;
    color: #0D688F;
    outline: 1px solid #2a2a2a;
}

.sidebar h2{
    text-align: center;
    margin: 0px;
    padding: 10px;
    background: #2a2a2a;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{
    outline: 1px solid #2a2a2a;
    transition: border 0.5s;
}

.sidebar li:hover{
    background: #444;
    border-left: 5px solid #333;
}

.sidebar a{
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.sidebar a:hover{
    color: #0D688F;
}

.main-content{
    width: 100%;
    height: 82%;
    position: absolute;
    z-index:10;
    background:url(fondo-user.jpg) no-repeat center bottom;
    background-size: cover;
    margin-top: -23px; 
    transition: all 0.5s;
    overflow-x: hidden;
    box-sizing: border-box;
}

.footer{
    width: 100%;
    height: 10%;
    position: fixed;
    transition: all 0.5s;
    bottom: 0;
    background:#EBA521;
    padding: 50px;
    z-index:10;
}



/* Funcinamiento de la barra lateral */

.abrir{
    transform: translateX(250px);
    
}

/* Estilos para las publicaciones */

.publicacion{
    background-color: white;
    margin: 50px 300px 100px 200px;
}

.publicacion .usr{
    text-align: left;
    padding-left: 30px;
}

.publicacion .fch{
    text-align: right;
    padding-right: 30px;
}

.publicacion h2{
    text-align: center;
}

.publicacion .relato{
    border:1px solid black;
    margin: 10px 0px 10px 20px;
    margin: 30px;
}

.publicacion .dibujo{
    height: 20px;
    width: 20px;
}