/* Estilos de la pagína de administración usuarios */
.main-content .row{
    margin: 0px; padding: 0px;
}
/*Estilo para el panel de regístro de los usuarios */
#panel_registro{
    padding: 5%; 
    box-shadow: 1px 2px 2px #A4A4A4; 
    border:1px solid #A4A4A4;
}
/* Estilos de la parte interna de el panel de regístro */
.table-condensed{
    width: 70%;
}
/* Estilo de los modals */
/* Cabecera del modal */
div.modal-header{
    background-color: #084B8A; 
    color:white;
}

/* Modelo_listar_datos */
.btn-primary.btn-xs{
    width: 100%;
}
/* Boton de salir del modal */
.btn-danger.btn-xs{
    width: 100%; 
    margin-top: 1%;
}
/* model edicion */
.edit{
    background-color: #084B8A; 
    color:white;
}
/* Cabecera del model de eliminacion */
.modal-header.delet{
    background-color: red; 
    color:white;
}

